.not-found {
  display: grid;
  place-items: center;
}

.not-found h1 {
  font-size: var(--text-6xl);
}

.not-found p {
  font-size: var(--text-3xl);
  text-align: center;
  color: rgb(109, 63, 25);
}
