---
title: Oops! Not Found
layout: base
permalink: /404.html
eleventyExcludeFromCollections: true
---

<div class="not-found">
  <h1>404 — Lost in the wilderness.</h1>
  <img class="about-content-image" src="/images/about/goal4.jpg" alt="Me">

  <p>Looks like this page ran off into the Alaskan woods.  <a href="{{ '/' | url }}">Try heading back home.</a>.</p>
</div>