---
layout: base.njk
---

<article class="post">
  <header class="post__header">
    <h1>{{ title }}</h1>
    <div class="post__details">
      <time datetime="{{ page.date | htmlDateString }}">
        {{ page.date | readableDate }}
      </time>
      <span> | </span>
      <span>{{ content | readingTime }} read</span>
    </div>
  </header>

  <main class="post__content">
    {{ content | safe }}
  </main>

  <aside class="post__aside">
    <div class="post__tags">
      {% for tag in tags | pageTags %}
        {% set tagUrl %}/tags/{{ tag }}/{% endset %}
        <a href="{{ tagUrl | url }}">#{{ tag }}</a>
      {% endfor %}
    </div>

    <nav class="post__pagination">
      {%- set nextNote = collections.notes | getNextCollectionItem(page) %}
      {%- if nextNote %}

        <a href="{{ nextNote.url | url }}">
          <span>←</span>
          <span>{{ nextNote.data.title }}</span>
        </a>

      {% endif %}

      {%- set previousNote = collections.notes | getPreviousCollectionItem(page) %}
      {%- if previousNote %}

        <a href="{{ previousNote.url | url }}">
          <span>{{ previousNote.data.title }}</span>
          <span>→</span>
        </a>

      {% endif %}
    </nav>
  </aside>

</article>